body {
    margin: 0;
    background-color: darkgray;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.fixed-front{
    position: fixed;
    z-index: 2147483647;
}

.gray-border {
    border: 5px gray solid;
}

#add-note {
    bottom: 20px;
    right: 20px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    font-size: 80px;
}

#save-workspace {
    bottom: 20px;
    left: 20px;
    font-size: 60px;
    border-radius: 10px;
}

#settings {
    top: 20px;
    right: 20px;
}

h1,
h2 {
    text-align: center;
}

#close-btn {
    display: block;
    margin: 0 auto;
}

button,
input {
    cursor: pointer;
}

.img-btn {
    border: none;
    background: none;
    padding: 0;
}

#history-container {
    bottom: 111px;
    left: 40px;
}

#history-message {
    top: 20px;
    right: 168px;
    font-size: 60px;
}

#redo-img {
    content:url("../img/redo.png");
}

#undo-img {
    content:url("../img/undo.png");
}

#settings-img {
    content:url("../img/gear.png");
}

@media (max-width: 400px) {
    #add-note {
        width: 30vw;
        height: 30vw;
        font-size: 25vw;
    }

    #save-workspace {
        width: 45vw;
        height: 20vw;
        font-size: 15vw;
    }
}

@media (max-width: 900px) {
    #history-message {
        visibility: hidden;
    }
}